[Desktop Entry]
Version=1.0
Type=Application
Name=Mamba
Comment=Virtual Midi Keyboard for Jack Audio Connection Kit
Exec=mamba
Icon=Mamba
Categories=AudioVideo;Audio;Midi;
Terminal=false
Name[de_DE]=Mamba
